@charset "UFT-8";

p {
    text-align: justify;
}

body {
    background-color: #d8c09d;
}

h2 {
    color: #514644;
}

a {
    color: #514644;
    text-decoration: none;
}

.corpo {
    width: 960px;
    margin: auto;
}

.conteudo {
    display: flex;

}

.imagem {
    display: table-cell;
    float: left;
    width: 20px;

}

.texto {
    color: #514644;
    display: table-cell;
    float: left;
    align-items: center;
    width: -20px;
    margin: 15px;
}

img {
    height: 280px;
}

.editor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 30px;
}

:hover a {
    scale: 1.4;

}